
.vs/Learning-Python-First/FileContentIndex/cdb357eb-deaf-4c4c-af9c-53e075d0a2a4.vsidx
.vs/Learning-Python-First/v17/.suo
.vs/Learning-Python-First/v17/DocumentLayout.json
Learning-Python-First.pyproj
Learning-Python-First.sln
/.vs/Learning-Python-First/FileContentIndex
/__pycache__
